[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.10.*"
Jinja2 = "==2.11.*"
diskcache = "*"
netaddr = "*"
pytest = "==6.*"
pytest-html = "*"
PyYAML = "*"
requests = "*"
