{% include "junos/edge-chassis.j2" %}
{% include "junos/edge-interfaces.j2" %}
{% include "junos/edge-validation.j2" %}
{% include "junos/edge-bgp.j2" %}
{% include "junos/edge-ibgp.j2" %}
{% include "junos/edge-sampling.j2" %}
{% include "junos/edge-fabric.j2" %}
